<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>mac</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DatabaseConfig</display-name>
    <servlet-name>DatabaseConfig</servlet-name>
    <servlet-class>pnb.config.DatabaseConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConfig</servlet-name>
    <url-pattern>/DatabaseConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConfi</display-name>
    <servlet-name>DatabaseConfi</servlet-name>
    <servlet-class>pnb.config.Conf.DatabaseConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConfi</servlet-name>
    <url-pattern>/DatabaseConfi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConfigu</display-name>
    <servlet-name>DatabaseConfigu</servlet-name>
    <servlet-class>pnb.Config.DatabaseConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConfigu</servlet-name>
    <url-pattern>/DatabaseConfigu</url-pattern>
  </servlet-mapping>
</web-app>